@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: "PT Sans", sans-serif;
}

.container {
    width: 1330px; 
    margin: 0 auto;
}

.main {
    background-color: #;
}

/* Header Start */

.header {
    padding: 40px 0;
    width: auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    max-width: 108px;
    height: 30px;
}

.nav__list {
    display: flex;
    gap: 30px;

    list-style: none;
}

.nav__item {
    line-height: 140%;
    font-size: 16px;
}


.nav__link {
    text-decoration: none;
    color: #333;
    transition: all .3s ease;
}

.nav__link:hover {
    color: #775fff;
}

.nav__search {
    margin-right: 60px;
}

.header__lang-item {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    margin-right: 10px;
}

/* Header End */

/* First Start */

.first {
    position: relative;
    min-height: 750px;
    margin-bottom: 150px;

    color: white;

}

.first__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: bisque;
}

.first__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.first__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first__content {
    margin-right: 134px;

    max-width: 350px;
}

.first__title {
    font-family: PT Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 140%; /* 70px */
    width: 526px;;
}

.first__text {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    max-width: 322px;
}

.first__about {
    display: flex;
}

.first__about h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 1.6px;
    text-transform: uppercase; 
    margin-right: 10px;

    position: relative;
}


.first__about h3::before {
    position: absolute;
    content: "";
    background-image: url(../img/section-01/ellipse.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 120px;
    bottom: 3px;
    z-index: 100;
    border: none;
}

.first__blocks {
    margin-top: 110px;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.first__card {
    width: 306px;
    background-color: #5DB7DE;
    border-radius: 20px;
    transition: all 0.3s ease;
    
}

.first__card:hover {
    background-color: rgba(73, 143, 173, 0.9);
    transform: scale(1.05);
}

.card__title {
    padding: 30px 35px 118px;
    font-size: 13px;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.card__text {
    margin: 0 35px 30px;

    font-size: 19px;
    font-weight: 700;
    line-height: 140%; /* 26.6px */
}


/* First End */


/* Serivce Start */

.service {
    margin-bottom: 200px;
}

.service__wrapper {
    display: flex;
    
    gap: 110px;
}

.service__title {
    color:#333;

    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
}

.service__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;

}

.service__link {
    width: 250px;

    color: #3D348B;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    transition: all .3s ease;
}

.service__link:hover {
    color: #6c5ee9;
    transform: scale(1.03);
}

.service__down {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    color: #FFF;
    background-color: #5DB7DE;

    font-size: 13px;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.service__block {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}

.service__card {
    padding: 30px 35px;
    width: 379px;

    display: flex;
    flex-direction: column;
    gap: 100px;

    background-color: #3D348B;
    color: #fff;
    border-radius: 20px;
    transition: all .3s ease;
}

.service__card:hover {
    background-color: rgba(39, 23, 184, 0.813);
    transform: scale(1.05);
}

.service__card-title {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.service__card-text {
    font-size: 19px;
    font-weight: 700;
    line-height: 140%; /* 26.6px */
}

/* Service End */



/* About Start */


.about {
    margin-bottom: 260px;
}

.about__title {
    color: #333;
    
 
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    width: 636px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.about__live {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about__video {
    position: relative;
    width: 526px;
    height: 350px;
    
}

.about__img {

    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;

    border-radius: 20px;
}

.about__video::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    left: 45%;
    bottom: 40%;
    

    background-image: url(../img/about/play.svg);
    background-repeat: no-repeat;

    z-index: 10;
    cursor: pointer;
}

.about__card {
    color: #fff;
    display: flex;
    width: 526px;
    padding: 30px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;

    border-radius: 20px;
    background: #5DB7DE;
    transition: all 1s ease;
}

.about__card:hover {
    background-color: #574cbdcf;
}

.about__card-title {

    font-size: 13px;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.about__card-text {
    font-size: 19px;
    font-weight: 700;
    line-height: 140%; /* 26.6px */
}

/* About End */


/* News Start */


.news {
    margin-bottom: 150px;
}

.news__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__title h3 {
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; /* 56px */
}

.news__title a {
    display: block;
    color:  #3D348B;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 1.6px;
    text-transform: uppercase;

    text-decoration: none;

    position: relative;
}

.news__title a::after {
    position: absolute;
    content: "";
    background-image: url(../img/news/arrow-right.png);
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    height: 100%;
    top: -5px;
    right: -130px;
}

.news__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.news__card {
    color: #333;
}

.news__card-img {
    border-radius: 20px;

}

.news__card-data {
    font-size: 13px;
    font-weight: 700;
    line-height: 140%; /* 18.2px */
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.news__card-title {
    color: #333;
    font-size: 19px;
    font-weight: 700;
    line-height: 140%; /* 26.6px */
}

.news__card-text {
    overflow: hidden;
    color: #333;
    /* p/14r */
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

/* News End */


/* Footer Start */

.footer {
    display: flex;
    opacity: 0.85;
    background: #3D348B;
    height: 120px;
}

.footer__nav {
    margin-top: 25px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__block a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.footer__nav-logo {
    width: 108px;
    height: 30px;
    flex-shrink: 0;
    margin: 0 100px;
}

footer {
    color: #fff;
    background:  #3D348B;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 484px;
}

.info__card {
    height: 208px;
}

.info__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.info__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
}

.info__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    margin-bottom: 15px;
    margin-left: -40px
}